


<div class="container">
    <main>
      <section class="row mt-4 mb-5">
        <div class="col-sm-12 col-md-6 col-lg-3 mb-3 mb-lg-0"><span class="pageHeding">Scan Scheduler</span></div>
         <div class="col col-sm-4 col-md-3 w-15 mb-3 mb-lg-0"><span class="subHeading">6 Running Projects</span></div>
          <div class="col col-sm-3 col-md-3 w-15 mb-3 mb-lg-0"><a class="smHeading" href="">See All Projects</a></div>
           <div class="col mb-3 mb-lg-0">
              <ul class="list-group flex-row justify-content-end quickLinks">
                <li class="list-group-item border-0"><a href="" class="exportIcon">Export Data</a></li>
                <li class="list-group-item border-0"><a class="scheduleIcon" (click)="open()">Schedule Setting</a></li>
              </ul>
           </div>
         </section>
      <!-- section End -->
       
       <section>
          <div class="row">
           <div class="col-12 mb-5">
      <div id="calendarWrapper"><div id="calendar"></div><div style="clear:both"></div></div>
           </div>
          </div><!-- row End -->
       </section><!-- section End -->


    
       <div id="chartContainer" style="height: 170px; width: 30%;"></div>
        
    <div id="chartContainer2" style="height: 100px; width: 30%;"></div>
        
    </main>
    <!-- main End --> 
    
  </div>

  